build/
.vscode/
*.dot
*.pdf
*.pcl
*.svg
*.png
!images/*.png

!tests/e2e/
!tests/e2e/**/
!tests/e2e/**/*.pcl
!tests/e2e_2_e/**/*.txt
!tests/e2e/**/*.expected
!tests/e2e/**/*.input
!tests/e2e/run_tests.sh
Testing/
